{% extends 'base.html' %}

{% block conteudo %}
    <h2>{% if request.endpoint == 'adicionar' %} Adicionar {% else %} Editar {% endif %} Produto</h2>
    <form class="form-adicionar" action="" method="post">
        {{ form.hidden_tag() }}
        <p>{{ form.nome.label }} {{ form.nome() }}</p>
        <p>{{ form.descricao.label }} {{ form.descricao() }}</p>
        <p>{{ form.preco.label }} {{ form.preco() }}</p>
        <p>{{ form.categoria.label }} {{ form.categoria() }}</p>
        <p>{{ form.submeter() }}</p>
    </form>
{% endblock %}
<!-- {% block scripts %}
    <script>
        // JavaScript para destacar o campo de erro
        document.addEventListener('DOMContentLoaded', function() {
            const errorFields = document.querySelectorAll('.form-adicionar .is-invalid');
            errorFields.forEach(field => {
                field.style.borderColor = 'red';
            });
        });
    </script>
{% endblock %} -->