<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block titulo %} Gestão de Produtos {% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<div class="container">
		<div class="header">
			<h1>Gestão de Produtos</h1>
			{% if current_user.is_authenticated %}
			<span>Olá, {{ current_user.nome }} ({{ current_user.cargo | capitalize }})</span>
			{% endif %}
			<div class="nav">
				{% if current_user.is_authenticated %}
					{% if current_user.cargo == 'funcionario' %}
						<a href="{{ url_for('painel') }}">Painel</a>
					{% elif current_user.cargo == 'admin' %}
						<a href="{{ url_for('registo') }}">Registar Funcionário</a>
						<a href="{{ url_for('lista_funcionarios') }}">Painel</a>
					{% endif %}
					<a href="{{ url_for('listar_logs') }}">Logs</a>
					<a href="{{ url_for('logout') }}">Logout</a>
				{% endif %}
			</div>
		</div>
		<hr>
		{% block conteudo %}{% endblock %}
	</div>
</body>
</html>
