{% extends 'base.html' %}

{% block conteudo %}
<table class="table-estruturada">
    <thead>
        <tr>
            <th>ID</th>
            <th>Funcionário</th>
            <th>Descrição</th>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        {% for log in logs %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.utilizador.nome if log.utilizador else 'Desconhecido' }}</td>
            <td>{{ log.descricao }}</td>
            <td>{{ log.data | to_portugal_time }}</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Nenhum registo encontrado.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
